.myself-background-div-out{
    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
}

.myself-background-div-in{
    background-image:url(/src/myself/background/img/yoshima.png);             /* 画像のURLを指定       */
    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */              
    width:100vw;                                   /* 横幅のサイズを指定    */
    height:100vh;                                 /* 縦幅のサイズを指定 */
    background-size: cover;
    filter: brightness(60%);

    // position: absolute;
    // left: 0;
    // top :0;

}